{% extends request.ajax ? "layout_blank.html.twig" : "layout_default.html.twig" %}

{% block meta_title %}{{ 'TMCH Claims Notice'|trans }}{% endblock %}

{% block body_class %}tmch{% endblock %}
{% block breadcrumb %} <li class="active">{{ 'TMCH Claims Notice'|trans }}</li>{% endblock %}

{% block page_header %}
<article class="page-header">
    <h1>{{ 'TMCH Claims Notice'|trans }}</h1>
</article>
{% endblock%}

{% block content %}
<div class="row">
    <article class="span12 data-block">
        <div class="data-container">
            <section>
                {% if error is defined %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% elseif note is defined %}
                    <div class="alert alert-info">Claims notice: {{ note|e }}</div>
                {% else %}
                    <div class="alert alert-warning">No lookupKey provided in the URL.</div>
                {% endif %}
            </section>
        </div>
    </article>
</div>
{% endblock %}
